@import "src/@fuse/scss/fuse";

.mdl-data-table {
    position: relative;
    border: 1px solid rgb(176 21 21 / 5%);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: rgba(204, 200, 200, 0.795);
}
.mdl-data-table th {
    
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 14px;
    color: #009688;
    padding-bottom: 8px;
    box-sizing: border-box;
    padding: 12px;
    background:#00968824;

}
.mdl-data-table {
    width: 100%;
    background-color: transparent;
}
.mdl-data-table td {
    position: relative;
    vertical-align: middle;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
}

.total{
    color:blue; 
    font-size: 16px; 
}