    .picture {
        cursor: pointer;
    }
    
    .portrait-file {
        display: none;
    }
    
    .mat-dialog-actions {
        justify-content: flex-end;
    }
    
    .upload {
        padding: 8px;
        background-color: #f4f4f4;
        cursor: pointer;
    }
    
    .m-bottom {
        margin-bottom: 20px;
    }