<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs >
                <img src="assets/mlm/KNK-LOGO.png">
            </div>

            <div class="title"> Change Password</div>
            

            <form name="form" [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
                
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="password" name="password" [type]="hidePassword ? 'password' : 'text'"required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ !hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('password').hasError('required')">Please enter your new password</span>  
                        <span *ngIf="form.get('password').hasError('minlength')">Password length must be at least 6 digits.</span>
                        <span *ngIf="form.get('password').hasError('servererror')">{{ form.get('password').errors.servererror }}</span>
                    </mat-error> 
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput formControlName="password_confirmation"name="password" [type]="hidePassword ? 'password' : 'text'"  required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ !hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <span *ngIf="form.get('password_confirmation').hasError('required')">Please enter your confirm password</span>  
                        <span *ngIf="form.get('password_confirmation').hasError('minlength')">Password length must be at least 6 digits.</span>
                        <span *ngIf="form.get('password_confirmation').hasError('servererror')">{{ form.get('password_confirmation').errors.servererror }}</span>
                    </mat-error> 
                </mat-form-field>

                <div class="verify-code">
                    <button mat-raised-button color="accent" class="submit-button text-center" aria-label="LOG IN" [disabled]="form.invalid || isLoading" ng-click="changePassword()">
                        <mat-spinner style="margin:0 auto; " [diameter] = 30  *ngIf = " isLoading "  ></mat-spinner> <span *ngIf = " !isLoading " >Change</span>
                    </button>
                   
                </div>
            </form>

            <div class="additional-info">
                <a [routerLink]="['/auth/login']">Back To Login</a>
              </div>
        </div>
    </div>

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/mlm/KNK-LOGO.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            <b style="color:white" >Welcome To Skills Development Fund - SDF</b>
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
           <span style="color:white" >To be the most trusted financing platform for sustainable and demand-driven skill development</span> 
        </div>

    </div>
    
</div>
