@import "src/@fuse/scss/fuse";

login {

    #login {
        width: 100%;
        background-size: cover;

        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }


        }
    }
}