<!-- ===================== Header =================== -->
<section class="body-scheme">
    <div class="big-header">
        <div class="text-left">
            <img src="assets/mlm/KNK-LOGO.png" width="130"/>
        </div>
        <div class="header-title">
            <h2 class="title-above" style="padding-left: 2cm;">Skills Development Fund (SDF)</h2>
            <h2 class="title-below">Joint Training Proposal Template for <span class="scheme"> “{{ data?.overview?.scheme?.abbre }}”</span></h2>
        </div>
    </div>
    <hr class="solid">
    <div class="main-title">
        <div class="main-left">
            <h3><b>Summary information of the proposal</b></h3>
        </div>
        <div class="main-right">
            <h3>Proposal’s number៖ <span style="font-size: 17px; color: #1976d2;">{{ data?.info.code }}</span></h3>
        </div>
 
    </div>
    <br><br>
    <div class="box-border">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proposal initiated by(institution)៖ {{ data?.overview?.initiator?.name }}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of Partner(s)៖ ...................................................such as...............................................................................................................................</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proposal title៖............................................................................................................................................................................................................</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sector(s)៖ {{ data?.overview?.sector?.name }}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Target beneficiary៖ {{ data?.overview?.beneficiary?.name }}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total number of trainees៖ {{ data?.overview?.total_trainees }} trainees (total female trainee៖ {{ data?.overview?.total_females }} trainees)</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training length៖ {{ data?.training?.period?.months }} month(s) (total training hour(s)................................................................)</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Started date៖ (D/M/Y) {{ data?.training?.period?.from }} to Ended date(D/M/Y) {{ data?.training?.period?.to }}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total training cost៖ ...........................................................................................................Riel, of which</p>
            <div class="cost">
                <p>&nbsp;&nbsp;Cost share or contribute by training provider (as percentage) ៖ .................................................................................................................%</p>
                <p>&nbsp;&nbsp;Cost share or contribute by companies (as percentage) ៖ .........................................................................................................................%</p>
                <p>&nbsp;&nbsp;Cost share or contribute by SDF (as percentage) ៖ ....................................................................................................................................%</p>
                <p>&nbsp;&nbsp;Requested budget from SDF per trainee៖ ..................................................................................................................................................Riel</p>
            </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certificate for trainees ៖</p>
            <div class="box-tick">
                <p>&nbsp;&nbsp;Cambodia Qualification Framework(CQF)</p>
                <p>&nbsp;&nbsp;Joint company-school certificate</p>
                <p>&nbsp;&nbsp;Others (please clarify).............................................................................</p>
 
            </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training model ៖</p>
            <div class="training-model">
                <p>Theory ...........................................................% ( {{ data?.training?.model?.theory | number }} hour(s))</p>
                <p>Practice at school............................................................% ( {{ data?.training?.model?.practic_at_school | number }} hour(s))</p>
                <p>Practice at company/industry ............................................................% ( {{ data?.training?.model?.practic_at_school | number }} hour(s))</p>
                <p>Others (please clarify) ..........................................................................................................................................</p>
            </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training venue ៖</p>
            <div class="training-model">
                <p>Theory session .......................................................................................................................................................................</p>
                <p>Practical session.....................................................................................................................................................................</p>
            </div>
    </div>
    <div class="solid-two mt-6"></div>
    <p class="footer-summary">Please refer to table in item 4 (Summary budget)</p>
</section>


